.nav-tabs .nav-link:focus {
    color: #007d93 !important;
    text-decoration: underline !important;
}
#usersDataTable {
    width: 100%;
}
.title {
    font-weight: bold;
}
#menu1 {
    background-color: white;
    color: #682172ff;
    border-color: #682172ff;
}
